body {
  background-color: black;
  background-image: url(../stars.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@font-face {
  font-family: rickMorty;
  src: url(../get_schwifty.ttf)
}

.App {
  text-align: center;
  color: white;
  
  
}



