body {
  background-color: rgb(25, 26, 27);
}

@font-face {
  font-family: rickMorty;
  src: url(../get_schwifty.ttf);
}

.App {
  text-align: center;
  color: white;
  font-family: "Roboto", sans-serif;
}
