.end-container {
    background-color: rgba(61, 62, 68, .95);
    border-radius: 25px;
    width: 50%;
    height: 40vh;
    margin: 4rem auto;
    color: whitesmoke;
    box-shadow: 5px 5px 5px 5px black;
    padding-bottom: 4rem;
}

.end-card-image{
    width: 150px;
    height: auto;
    margin-right: 5rem;
    margin-top: 2rem;
    border-radius: 50%;
}

.end-card-text {
    position: relative;
    /* border: 1px solid green; */
    font-size: 1.25rem;
    margin-left: -2rem;
    top: -5rem;
    
    
}

.end-button-box {
    margin: 2rem auto;
    /* border: 1px solid blue; */
    
}

.final-score {
    margin-top: 4rem;
    /* border: 1px solid green; */
    
}