.end-container {
    background-color: rgba(61, 62, 68, .95);
    border-radius: 5px;
    width: 50%;
    height: auto;
    margin: 4rem auto;
    color: whitesmoke;
    box-shadow: 1.5px 1.5px .5px 1.5px rgba(0, 0, 0, .15);
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
}

.end-card-image{
    
    width: 150px;
    height: auto;
    margin-left: 2rem;
    /* margin-top: 3rem;  */
    border-radius: 50%;
    /* display: flex;
    justify-content: left; */
}

.text-box {
    /* display: flex;
    justify-content: left;  */
    /* border: 1px solid green;  */
    text-align: left;
    font-size: 1.25rem;
    margin-right: 2rem;
    margin-top: 2.5rem;
    max-width: 50%;
    /* flex-direction: row; */
    
}

.end-text-box {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-evenly;
   
    margin-top: 2.5rem;
}

.end-button-box {
    margin: 2rem auto -1rem auto;
    /* border: 1px solid blue; */
    
}

.final-score {
    margin-top: 0rem; 
    font-weight: 500;
}

.longest-streak {
    margin-top: 2.5rem; 
    font-weight: 500;
}

.end-longstreak {
    color: #a2d5f2;
    font-weight: 700;
}

.end-score {
    color: #a2d5f2;
    font-weight: 700;
}