.game-container {
    background-color: rgba(61, 62, 68, .95);
    border-radius: 25px;
    width: 50%;
    height: 60vh;
    margin: 2rem auto;
    color: whitesmoke;
    box-shadow: 5px 5px 5px 5px black;
    padding-bottom: 4rem;
}

.game-header {
    /* border: 1px solid red; */
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.character-image{ 
    margin-top: 3rem;
    margin-left: 50%;
    border-radius: 5px;
    width: 250px;
    height: auto;
}

.high-score {
    /* border: 1px solid red; */
    padding-top: 4rem;
    width: 10rem;
    margin-left: 2rem;
}

.lives-box {
    /* border: 1px solid red; */
    padding-top: 2rem;
    width: 10rem;
}

.scoreboard {
    /* border: 1px solid red; */
    width: 10rem;
    padding-top: 4rem;
    margin-right: 2rem;
    
}


.game-footer {
    /* border: 1px solid red; */
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.right {
    /* border: 1px solid red; */
    width: 10rem;
    padding-top: 2rem;
    
}
.wrong {
    /* border: 1px solid red; */
    width: 10rem;
    padding-top: 2rem;
    
}

.info-box {
    /* border: 1px solid black; */
    width: 40%;
    height: 35vh;
    margin-top: -16rem;
    text-align: left;
    padding-left: 2rem;
    margin-left: 2rem;
}


.choice-box{
    margin-top: 1rem;
    /* border: 1px solid blue; */

}

.button {
    margin: -.5rem 1rem;
}