.game-container {
    background-color: rgba(61, 62, 68, .95);
    border-radius: 5px;
    width: 50%;
    height: auto;
    margin: 2rem auto;
    color: whitesmoke;
    box-shadow: 1.5px 1.5px .5px 1.5px rgba(0, 0, 0, .15);
    padding-bottom: 4rem;
    
}

.game-header {
    /* border: 1px solid red; */
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.span-tag {
    color: gray;
    font-size: 1rem;
}
h3 {
    font-size: 1rem;
}

.character-image{ 
    margin-top: 3rem;
    margin-left: 50%;
    border-radius: 5px;
    width: 250px;
    height: auto;
    box-shadow: 1.5px 1.5px .5px 1px rgba(0, 0, 0, .15);
}

.high-score {
    /* border: 1px solid red; */
    padding-top: 4rem;
    width: 10rem;
    margin-left: 2rem;
}

.lives-box {
    /* border: 1px solid red; */
    padding-top: 2rem;
    width: 10rem;
}

.game-lives {
    font-weight: 700;
    color: #a2d5f2;
}

.scoreboard {
    /* border: 1px solid red; */
    width: 10rem;
    padding-top: 4rem;
    margin-right: 2rem;
    
}


.game-footer {
    /* border: 1px solid red; */
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.right {
    /* border: 1px solid red; */
    width: 10rem;
    padding-top: 2rem;
    
}

.game-right {
    font-weight: 700;
    color: #a2d5f2;
}

.game-wrong {
    font-weight: 700;
    color: #a2d5f2;
}


.wrong {
    /* border: 1px solid red; */
    width: 10rem;
    padding-top: 2rem;
    
}

.info-box {
    /* border: 1px solid black; */
   
    width: 40%;
    height: auto;
    
    margin-top: -17rem;
    text-align: left;
    padding-left: 2rem;
    margin-left: 2rem;
    
}


.choice-box{
    margin-top: 1rem;
    /* border: 1px solid blue; */

}

.button {
    margin: 5rem 1rem -2rem 1rem;
}

.game-high-score {
    color: #a2d5f2;
    font-weight: 700;
}

.game-scoreboard {
    color: #a2d5f2;
    font-weight: 700;
}